* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f3f7;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat_app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat_app__illustration {
  height: 60%;
  width: 100%;
  position: relative;
}

.chat_app__illustration::before {
  content: "";
  display: block;
  height: 85%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(#e942ff, #8838ff);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: none;
  margin-left: -55%;
  position: absolute;
  z-index: 11;
}

.chat_app__illustration__mobile {
  position: relative;
  max-width: 270px;
  background-color: white;
  z-index: 111;
  margin: 2rem auto;
  border-radius: 30px;
  padding: 0.5rem;
  -webkit-box-shadow: 1px 5px 30px #a39daa;
          box-shadow: 1px 5px 30px #a39daa;
}

.chat_app__illustration__mobile::before {
  content: "";
  height: 35px;
  width: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 20px;
  border: 1px solid white;
}

.chat_app__illustration__mobile__inner {
  border-radius: 30px;
  height: 100%;
  background-color: #f5f3f7;
  overflow: hidden;
}

.chat_app__illustration__mobile__inner__heading {
  padding: 0 0.3rem;
  padding-top: 1.6rem;
  padding-bottom: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to left, #e942ff, #8838ff);
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr 5fr 1fr;
      grid-template-columns: 0.5fr 1fr 5fr 1fr;
  grid-column-gap: 0.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat_app__illustration__mobile__inner__heading__pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

.chat_app__illustration__mobile__heading__profile {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 3px;
}

.chat_app__illustration__mobile__heading__profile__name {
  font-size: 0.7rem;
  color: #f5f3f7;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.chat_app__illustration__mobile__heading__profile__status {
  font-size: 0.5rem;
  color: #c6cacd;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.svg {
  fill: #f5f3f7;
  height: 15px;
  width: 15px;
  margin-left: auto;
}

.chat_app__illustration__mobile__inner__message {
  padding: 0.5rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 0.5rem;
}

.chat_app__illustration__mobile__inner__message article {
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  font-weight: 500;
  font-size: 0.6rem;
  background-color: rgba(198, 202, 205, 0.607);
  color: #9241c8;
  line-height: 0.8rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.chat_app__illustration__mobile__inner__message .chat_app__illustration__mobile__inner__message__right {
  margin-left: auto;
  background-color: white;
}

.chat_app__illustration__mobile__inner__message .chat_app__illustration__mobile__inner__message__short_right {
  margin-left: auto;
  width: auto;
  background-color: white;
}

.chat_app__illustration__mobile__inner__message__dogs_photo {
  margin-left: auto;
}

.chat_app__illustration__mobile__inner__message__dogs_photo img {
  height: 60px;
  width: 60px;
  border-radius: 20px;
}

.chat_app__illustration__mobile__inner__message__offers {
  padding: 0.3rem;
  border-radius: 15px 15px 15px 5px;
  font-size: 0.6rem;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 5px;
  background: -webkit-gradient(linear, right top, left top, color-stop(10%, #8838ff), color-stop(90%, #e942ff));
  background: linear-gradient(to left, #8838ff 10%, #e942ff 90%);
}

.chat_app__illustration__mobile__inner__message__offers__text {
  color: #f5f3f7;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.chat_app__illustration__mobile__inner__message__offers__price {
  margin-left: auto;
  margin-right: 0.5rem;
  font-size: 1rem;
  width: auto;
  font-weight: 700;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.make_circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #c6cacd;
  margin-right: 5px;
}

.chat_app__illustration__mobile__inner__message__box {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  padding-left: 0.5rem;
  border-radius: 15px;
  background-color: white;
  color: #c6cacd;
}

.chat_app__illustration__mobile__inner__message__box__right {
  display: block;
  margin-left: auto;
  background-color: #3e2753;
  padding: 10px;
  height: 35px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  fill: #ffffff;
}

.chat_app__content {
  margin: 0 auto;
  max-width: 500px;
  padding: 0.5rem;
  text-align: center;
}

.chat_app__content__header, .chat_app__content__text {
  margin-bottom: 1rem;
}

.chat_app__content__header {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #3e2753;
}

.chat_app__content__text {
  max-width: 300px;
  line-height: 1.3rem;
  color: #a39daa;
  font-size: 0.9rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.attribution {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;
  color: #9241c8;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  word-spacing: 3px;
}

.attribution__emoji {
  color: #3e2753;
}

@media screen and (min-width: 1000px) {
  .main__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  .chat_app {
    height: 100vh;
    max-width: 700px;
  }
  .chat_app__illustration {
    height: auto;
    position: relative;
  }
  .chat_app__illustration::before {
    margin-left: -30%;
  }
  .chat_app__illustration__mobile {
    max-width: 300px;
    margin: 0;
    margin-left: auto;
    margin-top: 50px;
  }
  .chat_app__illustration__mobile__inner__message article {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
  .chat_app__illustration__mobile__inner__message__offers {
    font-size: 0.4rem;
  }
  .chat_app__illustration__mobile__inner__message__offers__text {
    font-size: 0.9rem;
  }
  .chat_app__content {
    padding-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat_app__content__text {
    max-width: 400px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .attribution {
    margin-top: 110px;
  }
}
/*# sourceMappingURL=style.css.map */